body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: 'Roboto', sans-serif;
  background:#f0f5fa;
  padding-bottom: 16px;
}

#chartdiv {
  width: 65vw;
  max-width: 750px;
  height: 35vw;
  max-height: 400px;
  margin: auto;
}

#chartdiv-2 {
  width: 100%;
  height: 80%;
  margin: 33px 0 0 0;
}

#chart-height{
  margin: 0;
  font-size: 10px;
  color: #333;
  line-height: 2;
}

#chart-name{
  font-weight: bold;
}

#chart-header > p{
  margin: 0;
}

#prec-axis{
  position: absolute;
    margin-top: 34px;
    width: 505px;
}

#prec-axis > div{
  float: right;
}

#prec-axis > div > p{
  margin: 8px;
  font-size: 10px;
}

#month-numbers-axis{
  margin-left: 14px;
  position: absolute;
  display: flex;

}

#month-numbers-axis > p{
  margin: 26px 13px 0 13px;
  width: 9.5px;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}



textarea {
  resize: vertical;
}


.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

#bar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
#bar-button{
  display: flex;
  cursor: pointer;
}
#bar-logo{
  height: 32px;
  padding: 8px 8px 8px 32px;
}
#bar-header{
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  margin: auto 0;
}
.bar-header{
  display: flex;
}
#tutorial {
  display: none;
  margin: 64px 12.5vw 0;
}

.tutorial-text{
  margin: 0;
  font-size: 16px;
}

.tutorial-img{
  max-width: 50%;
  margin: 40px auto 60px;
  display: block;
}

.img-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 80%;
}

#toggle-button {
  transition: transform 0.3s ease;
}

#toggle-button.rotated {
  transform: rotate(180deg);
}

.card{
  border: 2px solid #d1d3d5;
  border-radius: 12px;
  margin: 16px auto;
  padding: 12px;
  background: #fff;
  max-width: 894px;
}

.country-name{
  float: right;
  margin-right: 10px;
  font-weight: normal;
}

.toggle-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 24px 0 64px;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto 24px;
}

#question{
  max-width: 700px;
  text-align: center;
  margin: 16px 32px 0;
  font-weight: bold;
  font-size: 18px;
}

.question-container input[type="text"] {
  text-align: center;
}
.content-container{
  padding: 64px 8% 16px;
}

#iCard{
  margin-top: 32px;
}

.list-diagram-inner{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding-left: 8%;
  padding-right: 8%;
}

.list-diagram-inner > .card{
  margin: 0 16px 32px 16px;
}

.input-row{
  display: flex;
  margin: 24px auto 0;
  align-items: center;
  width: fit-content;
}

.input-row > p {
  margin: 0;
}

.input-number{
  display: none;
  /*display: inline-block;*/
  border-radius: 32px;
  border: 2px solid #d1d3d5;
  background-color: #303439;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  margin: 0;
}

.input-field{
  /*margin: 0 16px;*/
  margin: 0;
  width: 300px;
  background: #e0e4ea;
  padding: 4px 16px;
  border: 1px solid #a0a4aa;
  border-radius: 4px;
}

.input-left{
  border-radius: 4px 0 0 4px;
}

.input-right{
  border-radius: 0 4px 4px 0;
  margin-right: 4px;
}

.input-field > p{
margin: 0;
}

.input-comparator{
  background: #d0d4da;
  border-bottom: 1px solid #a0a4aa;
  padding: 0px 16px;
  font-size: 19px;
  border-top: 1px solid #a0a4aa;
  color: #303439;
}

.list-container {
  height: 400px;
  width: 300px;
  padding-bottom: 32px;
}

#list-results{
  font-size: 12px;
}

.result-score-container{
  width: 150px;
  text-align: center;
}

#result-score{
  font-weight: bold;
  text-align: center;
  margin-left: 4px;
  margin-bottom: 12px;
}

.result-btn{
  border-radius: 3px;
  padding: 3px 8px;
  border: 1px solid #a1a3a5;
}
.result-btn:hover{
  font-weight: bold !important;
  cursor: pointer;  
  padding: 2px 7px;
  border: 2px solid #000;
  color: #fff;
}
.result-btn:active{
  border: 2px solid #c3c4cc;
}
.result-btn.selected{
  font-weight: bold !important;
  color: #fff;
  padding: 2px 7px;
  border: 2px solid #000;
}

#result-whole{
  background-color: #e0e5ea;
}
#result-whole:hover{
  background-color: #717375;
}
#result-whole.selected{
  background-color: #717375;
}

#result-correct{
  background-color: #cbf3cf;
}
#result-correct:hover{
  background-color: #46c424;
}
#result-correct.selected{
  background-color: #46c424;
}

#result-incorrect{
  background-color: #f3cfe3;
}
#result-incorrect:hover{
  background-color: #c42446;
}
#result-incorrect.selected{
  background-color: #c42446;
}

#result-description{
  font-size: 12px;
  margin: 8px 0;
}

.list-row {
  display: flex;
  margin-left: 32px;
}

.diagram-container {
  height: 400px;
  width: 500px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.diagram-container > div{
  font-size: 14px;
  text-align: left;
  margin: 0 10px;
}

.map-container {
  height: auto;
  width: auto;
  max-width: 894px;
  margin: 0 auto 32px;
}

.map{
  width: -webkit-fill-available;
}

.btn{
  color: #fff;
  border-radius: 4px;
  display: flex;
  margin: 4px;
  border: none;
}

.btn:hover{
  cursor: pointer;
}

.btn-del{
  font-size: 12px;
  padding:  8px 12px;
  background: #c42446;
}

.btn-qst{
  color: #a1a3a5;
  border: 1px solid #a1a3a5;
  background: #f1f3f5;
  padding: 3px 8px;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 24px;
}

.btn-add{
  background: #e0e4ea;
  border: 1px solid #a0a4aa;
  font-size: 12px;
  transform: translateX(-24px);
  display: flex;
  margin: 24px auto 0;
  align-items: center;
  padding: 0;
  width: 720px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  opacity: 0.8;
}
.btn-add:hover{
  opacity: 1.0;
}
.btn-add:active{
  box-shadow: none;
}
.btn-add-inner{
  display: flex;
  margin: auto;
  padding: 7px 0 6px 12px;
  background: #c0c4ca;
  border: 1px solid #a0a4aa;
  color: #303439;
  font-weight: bold;
}

.btn-cls{
  background: #fff;
  padding: 0px 7px;
  font-size: 18px;
  font-weight: bold;
  margin: 16px 12px;
  border: 1px solid #818385;
  color: #818385;
}

.btn-cls:hover{
  cursor: pointer;
}

#btn-filter{
  background: #4394fc;
  font-size: 12px;
  padding: 8px 8px 8px 16px;
  margin: 0 0 0 auto;
}

.btn-row{
  display: flex;
  margin: 64px 24px 12px;
}

.iconCheck{
  background-color: #46c424;
  padding: 2px;
  color: #fff;
  float: right;
  border-radius: 2px;
}

.iconFalse{
  background-color: #c42446;
  padding: 2px 3px;
  color: #fff;
  float: right;
  border-radius: 2px;
}

.fa-times {
  padding-bottom: 3px !important;
  
}

#climate-list{
  overflow: scroll;
  overflow-y: scroll;
  height: 360px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.10);
  margin-right: -12px;
  margin-left: -12px;
  padding: 0 12px;
}

.climate-list-element{
  margin: 12px 0;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #e3e4ec;
  background: #f3f4fc;
  font-size: 12px;
  font-weight: bold;
  color: #31333c;
}

.climate-list-element-selcted{
  opacity: 1 !important;
  border: 2px solid #33343c;
  padding: 6px;
  color: #fff;
}

.climate-list-element-selcted.climate-list-element-incorrect{
  background: #c42446 !important;
}

.climate-list-element-selcted.climate-list-element-correct{
  background: #46c424 !important;
}

.climate-list-element:hover{
  border: 2px solid #33343c;
  padding: 6px;
  cursor: pointer;
}

.climate-list-element-incorrect:hover{
  background: #c42446 !important;
  color: #fff;
}

.climate-list-element-correct:hover{
  background: #46c424 !important;
}

.climate-list-element:active{
border: 2px solid #c3c4cc !important;
padding: 6px;
}

#disclaimer{
  font-size: 12px;
  margin: 8px 24px;
}

#var-table{
  width: 763px;
  border-radius: 4px;
  border: 1px solid #a0a4aa;
  background: #fafbfc;
}

table, th, td {
  border-collapse: separate;
  border-spacing: 16px;
  font-size: 12px;
}

table{
  margin: auto;
}

th {
  font-weight: normal;
  text-align: right;
}

td {
  font-weight: bold;
  text-align: center;
}


@media (max-width: 960px) {
  .list-container{
    margin: 0 auto 32px !important;
  }
  .list-diagram-inner{
    display: block;
  }
  .input-row{
    display: table;
    margin: 0 auto;
  }
  .input-row > p{
    display: table;
    margin: auto;
  }
  .input-row > .input-counter > .input-number{
    width: 6px;
    margin: 6px auto;
    /*display: inline-table;*/
  }
  .input-field{
    max-width: 250px;
    margin: 0;
    border-radius: 4px
  }
  .diagram-container{
    max-width: 80vw;
  }
  .list-container{
    max-width: 100vw;
    margin: 0;
  }
  #prec-axis{
    max-width: 80vw;
  }
  table, th, td {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 8px;
  }
  table{
    margin-bottom: 24px;
  }
  .btn-add{
    transform: none;
    width: 300px;
  }

  #var-table{
    width: unset;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}