html,
body { height: 100%;
}
.ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* matrix of objects */
#object-field{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 2vw 2vw 2vw;
    position: absolute;
}

/* space in between the two side-fields*/
#lab-field{
    padding: 2vw;
}

/* right side */
.game-field{ 
    width: 25vw;
    /*height: 30vw;*/
    height: auto;
    margin: 5vw;
    padding: 2vw 2vw 2vw 2vw;
    position: relative;
    background-color: #fff;
    /*border: 1px solid black; */
    border-radius: 5px;
   
    
}
.overflow{
    height: 25vw;
    background-color: #00467f10;
    overflow-y: scroll;
    padding: 2px;
   
}

.intersection{
    height: 38vw;
    border: 1px solid black;
}

/*.play-object{
    width: 80px;
    height: 80px;
}*/
.object-shape{
    stroke: black;
    stroke-width: 2px;
    width: 60px;
    height: 60px;

}
/* to adjust the size of the matrix on the right */
.play-object {
    width: 6vw;
    height: 6vw;
}

.btn { 
    border: 1px solid black;
    border-radius: 5px;
    background: #00467f;
    color: white;
    padding: 10px;
    margin: 10px 0 30px 0;
    font-weight: bold;
    font-size: large;
    width: 100%; 
    border: 0;   
}
.btn:hover{
    cursor: pointer; 
    opacity: 0.85;

}
/*.step-button{
    border: 1px solid black;
    border-radius: 5px;
    background: #00467f;
    color: white;
    padding: 10px;
    margin: 10px 0 30px 0;
    font-weight: bold;
    font-size: large;
}

.step-button:hover{
    cursor: pointer;
}*/

.chain-add{
    text-align: center;
    width: 2vw;
    height: 2vw;
    margin: 5px 0;
    border-radius: 2vw;
    padding: 5px;
    background: #00aa00;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3vw;
}

.chain-number{
    text-align: center;
    width: 2vw;
    height: 2vw;
    border-radius: 2vw;
    padding: 5px;
    margin: 10px 0;
    background: rgb(111, 116, 152);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3vw;
}

.chain-arrow{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px 0;
    padding: 5px;
    color: #000;
}

.add-number{
    width: 3.5vw;
    height: 3vw;
    padding-top: 1vw;
    margin: 0.6vw;
    border-radius: 5px;
    color: #fff;
    background: rgb(111, 116, 152);
    cursor: pointer;
}

.add-number-hover:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #092c48;
}

.number-overlay{
    position: absolute;
    height: 18.6vw;
    width: 23vw;
    padding: 2vw;
    border-radius: 5px;
    

}
.border-overlay{
    border: 2px solid #00467f;
    position: absolute;
    height: 16vw;
    width: 20vw;
    padding: 2.3vw;
    padding-bottom: 3vw;
    border-radius: 5px;
}

.number-overlay-row{
    display: flex;
    padding: 0;
    height: 6.1vw;
    align-items: left;
    justify-content: left;

}

.field-number{
    width: 100%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 23px 0 0 23px;
    margin: 0vw;


}

.popup{
    background: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    visibility: hidden;
    width: fit-content;
    position: absolute;
    cursor: default;
}

.popup.show{
    visibility: visible;
}