html,
body {
    height: 100%;
}

.ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#object-field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

#lab-field {
    padding: 2vw;
}

.game-field {
    border: 1px solid black;
    width: 25vw;
    height: 25vw;
    margin: 5vw;
}

.intersection {
    height: 50vh;
    border: 1px solid black;
}

/* to adjust the size of the matrix on the right */
.play-object {
    width: 8.5vw;
    height: 8.5vw;
}

/* to adjust the column size */
.object-shape {
    stroke: black;
    width: 7vw;
    height: 7vw;
}

.step-button {
    border: 1px solid black;
    border-radius: 5px;
    background: #00467f;
    color: white;
    padding: 10px;
    margin: 10px 0 30px 0;
}

.step-button:hover {
    cursor: pointer;
}